body {
    position: absolute;
    width: 100%;
    height: 100%;;
    margin: 0;
}

#app {
    --spacing: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    position: relative;
    
    font-family:Arial, Helvetica, sans-serif;
}

.CodeMirror {
    height: 100% !important;
}

#app > div {
    flex: 1;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
    border-left: 1px solid black;
}
#app > div:first-child {
    padding-left: 0;
    border-left: none;
}
#app > div:last-child {
    padding-right: 0;
    border-right: none;
}

#app .editor * {                
    font-family:Arial, Helvetica, sans-serif;
}
#app .markdown {
    font-family: 'Courier New', Courier, monospace;
}
#app .preview {}